@import url("https://fonts.googleapis.com/css2?family=Lancelot&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background: #887853;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
}

.logo-first-letter {
  font-family: "Lancelot", cursive;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #dabb68;
}

.logo-text {
  font-family: "Lancelot", cursive;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a.active,
.nav-links a:hover {
  color: #4c3927;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

/* Hero Section */
.hero {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("./images/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.hero-text {
  background: rgba(16, 16, 16, 0.5);
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.hero-logo-name {
  font-family: "Lancelot", cursive;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.5em;
}
.hero-text h1 {
  font-size: 2rem;
  color: #f4f4f4;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
}

/* Properties Section */
.text-color {
  color: #6b5138;
}

/* Why Us Section */
.why-us {
  display: flex;
  gap: 3rem;
  background: rgba(107, 81, 56, 0.46);
  color: #f4f4f4;
}

.why-us-image {
  flex: 1;
}

.why-us-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}

.why-us-content {
  flex: 1;
  padding: 4rem;
}

.why-us-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.why-us-content ul {
  list-style: none;
  margin: 2rem 0;
}

.why-us-content li {
  margin: 1.5rem 0;
  padding-left: 2rem;
  position: relative;
}

.why-us-content li:before {
  content: "ᐧ";
  position: absolute;
  left: 10px;
  color: #f4f4f4;
}

.contact-btn {
  background: #6b5138;
  color: #f4f4f4;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.contact-btn {
  background: #6b5138;
  border-radius: 999px;
  box-shadow: #6b5138 0 10px 20px -10px;
  box-sizing: border-box;
  color: #f4f4f4;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  word-spacing: 4px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.contact-btn:hover {
  background: #5b452f;
}

.footer-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 100px;
}

/* Footer Styles */
footer {
  background-color: #fff;
  padding: 2rem 1rem;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-contact {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.social-text {
  color: #6b5138;
}

.footer-logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background: #887853;
    padding: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: block;
  }

  .property-grid {
    grid-template-columns: 1fr;
  }

  .why-us {
    flex-direction: column;
  }

  footer {
    padding: 2rem 1rem;
  }

  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }

  .social-text {
    display: none;
  }

  .social-links {
    justify-content: center;
    margin-bottom: 2rem;
  }

  .footer-logo {
    margin-top: 2rem;
  }

  .why-us-content {
    padding: 2rem;
    text-align: center;
  }

  .why-us-content h2 {
    margin-top: 0.5rem;
  }

  .why-us-content li {
    padding-left: 0;
  }

  .why-us-content li:before {
    display: none;
  }

  .contact-btn {
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: 769px) {
  footer {
    padding: 2rem 5%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-contact {
    text-align: left;
  }

  .social-links {
    justify-content: flex-start;
    margin-left: 10px;
  }
}
